<mat-card>
  <mat-card-header>
    <button routerLink="/customer/add" mat-raised-button color="primary">Add new</button>
  </mat-card-header>
  <mat-card-content>
    <table mat-table matSort [dataSource]="customersDataSource">
      <ng-container matColumnDef="{{innerColName}}" *ngFor="let innerColName of customerDisplayColumn">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>{{innerColName}}</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="innerColName!=='actions'">
            {{element[innerColName]}}
          </span>
          <div *ngIf="innerColName=='actions'">
            <button (click)="editCustomer(element.id)" mat-raised-button color="primary">Edit</button>
            <button (click)="deleteCustomer(element.id)" mat-raised-button color="accent">Delete</button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="customerDisplayColumn" style="background-color: rgb(91, 91, 221); color: white;"></tr>
      <tr mat-row *matRowDef="let row; columns: customerDisplayColumn"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
